* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "figtree", sans-serif, serif;
}

main {
  background-color: #f4d04e;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  height: 32em;
  width: 24em;
  border-radius: 1em;
  border: 1px solid #000;
  box-shadow: 10px 10px #000;
  display: flex;
  flex-direction: column;
  padding: 1em;
  transition: box-shadow 0.2s ease-in-out;
}

.card_image_1 {
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.text_1 {
  background-color: #f4d04e;
  padding: 0.2em 1em;
  border-radius: 0.5em;
  width: 30%;
  margin-bottom: 0.9em;
  text-align: center;
}

.text_preset_1 {
  font-size: 1em;
  line-height: 150%;
  font-weight: bold;
}

.text_preset_2 {
  font-size: 1.1em;
  line-height: 150%;
  margin-bottom: 1em;
}

.text_preset_3 {
  font-size: 1.5em;
  line-height: 150%;
  font-weight: bolder;
}

.text_preset_4 {
  font-size: 1em;
  line-height: 150%;
}

.author {
  display: flex;
  align-items: center;
}

.card_text {
  margin-bottom: 1em;
}

.author img {
  height: 2.5em;
  width: auto;
  margin-right: 0.8em;
}

.author p {
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: #000;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: #f4d04e;
  cursor: pointer;
}

.card:hover {
  box-shadow: 1.2em 1.2em #000;
}

/* Desktop View */

@media screen and (min-width: 1440px) {
  .card {
    height: 32em;
    width: 24em;
  }

  .card_text {
    margin-bottom: 1em;
  }

  @media (prefers-reduced-motion: reduce) {
    .card:hover {
      box-shadow: none;
    }
  }
}
